@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: black;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding-left: 80px;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 75px;
  width: calc(100% - 120px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.side_board{
   color: black;
   font-size: 18px;
   /*left:0;*/
   right:0;
}
.home-section-4{
padding-top:30px;
  position: relative;
background: white;
min-height: 55px;
width: calc(100% - 120px);
left: 240px;
transition: all 0.5s ease;
}
.dashboard{
  color:white;
}
.dashboar{
  color:black;
}
.dashboard-1{
  color:black;
}
.dashboar-1{
  color:darkblue;
}
.dashboar-2{
  color:darkblue;
}
.dashboar-3{
  padding-left:300px;
}
.home-section nav{
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  height: 75px;
  display: flex;
  color: black;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 10px;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.the_span{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 170px;
}
nav .profile-details .admin_name{
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  color: white;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}
nav .profile-details-1 .admin_name-1{
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  color: white;
}
nav .profile-details-1 i{
  font-size: 25px;
  color: #333;
}
.sidebar.active ~ .home-section-1 nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section-1 nav .sidebar-button-1{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 10px;
}
nav .profile-details-2 .admin_name-2{
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  color: white;
}
nav .profile-details-2 i{
  font-size: 25px;
  color: #333;
}
.sidebar.active ~ .home-section-2 nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section-2 nav .sidebar-button-2{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  padding: 20px 10px;
}
.home-section-1 nav{
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  height: 70px;
  display: flex;
  color: black;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
}
.home-section-1{
  position: relative;
  background: white;
  min-height: 55px;
  width: calc(100% - 120px);
  left: 240px;
  transition: all 0.5s ease;
}
.home-section-2{
  position: relative;
  background: white;
  min-height: 55px;
  width: calc(100% - 120px);
  left: 240px;
  transition: all 0.5s ease;
}
nav .sidebar-button-1 i{
  font-size: 35px;
  margin-right: 10px;
}
nav .sidebar-button-2 i{
  font-size: 35px;
  margin-right: 10px;
}
.sidebar.active ~ .home-section-1{
  width: calc(100% - 60px);
  left: 60px;
}
.sidebar.active ~ .home-section-2{
  width: calc(100% - 60px);
  left: 60px;
}
.side_board-1{
   left:0px;
   color: black;
   font-size: 18px;
   /*left:0;*/
   right:0;
}
.side_board-2{
   left:0px;
   color: black;
   font-size: 18px;
   /*left:0;*/
   right:0;
}
.home-section-1 nav{
  background-color: white;
}
.home-section-2 nav{
  background-color: white;
}
.home-section-1 nav .profile-details-1{
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 200px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 17px;
}
.switch-1 {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-1 input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-1:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}
input:checked + .slider-1 {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:focus + .slider-1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:checked + .slider-1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider-1.round {
  border-radius: 20px;
}

.slider-1.round:before {
  border-radius: 50%;
}
.slider.round-1 {
  border-radius: 16px;
}

.slider.round-1:before {
  border-radius: 100%;
}
.home-section-2 nav{
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  height: 70px;
  display: flex;
  color: black;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
}
.home-section-2 nav .profile-details-2{
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 20px;
}
.btn-liquid {
  display: inline-block;
  position: relative;
 width: 140px;
height: 30px;
border-radius: 27px;
color: #fff;
font: 700 8px/34px "Droid Sans";
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
 /* text-transform: uppercase;*/
  background-color: darkblue
}

.btn-liquid .inner {
  position: relative;
  z-index: 2;
}

.btn-liquid canvas {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;

  z-index: 1;
}


